.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 21px;
}

.searchPageResults {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.search-input {
  border-radius: 35px;
  height: 20px;
  text-align: center;
  width: 1000px;
}

.sideBar {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin-left: 10px;
  width: 300px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  width: 80%;
}

.card {
  background-color: rgb(212, 195, 195);
  border: 3px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
  color: black;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 5px;
  width: 300px;
}
