.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 21px;
}

.search-input {
  border-radius: 35px;
  height: 20px;
  text-align: center;
  width: 1000px;
}

.sideBar {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 20px;
}
